.admin-tabs {
	display: flex;
	justify-content: space-between;
	max-width: 1500px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 1em;
	margin-top: 50px;
	&__list {
		width: calc(20% - 15px);

		&-item {
			padding: 1em;
			background-color: #2e2a2a;
			color: #fff;
			transition: 0.5s ease-in;
			cursor: pointer;

			&.active {
				background-color: $main-color;
				color: #2e2a2a;
			}
		}
	}

	&__content {
		width: calc(80% - 15px);

		&-item {
			display: none;

			&.active {
				display: flex;
				column-gap: 30px;
				justify-content: space-evenly;

				& > * {
					flex-basis: 50%;
				}
			}
		}
	}
}

.reviewCard {
	background-color: $dark-color;
	border-radius: 10px;
	padding: 10px 20px 0;
	text-align: center;
	border: 2px solid $main-color;
	color: $main-color;
	max-width: 320px;

	position: relative;
	transition: 0.5s;

	&::after {
		border-radius: 10px;
		content: '';
		display: block;
		background-image: url(../images/card/back4.png);
		background-position: center;
		background-size: cover;
		inset: 0;
		position: absolute;
		opacity: 0;
		transition: 0.3s;
	}

	// &:hover::after {
	// 	opacity: 1;
	// }

	// &:hover {
	// 	overflow: hidden;
	// 	border: none;
	// 	transform: perspective(1000px) rotateY(180deg);
	// }

	&__name {
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-weight: 600;
		margin-bottom: 1em;
	}

	&__figure {
		height: 300px;
		margin-bottom: 1em;

		& img {
			height: 100%;
			// object-fit: cover;
		}
	}

	&__role {
		font-size: 18px;
		margin-bottom: 1em;
		letter-spacing: 0.7px;
	}

	&__description {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 1.5em;
		max-width: 150px;
		margin: 0 auto;

		// text-overflow: ellipsis;
		// overflow: hidden;
		// white-space: nowrap;
	}

	&__effect {
		width: 60px;
		height: 50px;
		margin: 0 auto;
		transform: translateY(50%);

		& img {
			height: 100%;
		}
	}

	&__cost {
		position: absolute;
		top: 3px;
		right: 8px;

		&-img {
			width: 50px;
			height: 50px;

			& svg {
				// fill: #fff;
				fill: $main-color;
			}
		}

		&-value {
			border-radius: 50%;
			color: #ffffff;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 26px;
			transform: translate(-5px, -33px);
		}
	}

	&__hp,
	&__attack {
		position: absolute;
		bottom: 5px;

		&-img {
			width: 65px;

			& svg {
				fill: $main-color;
				width: 100%;
				margin-bottom: 5px;
			}
		}

		& h3 {
			font-size: 25px;
			font-weight: 300;
			text-transform: uppercase;
			color: #fff;
		}
	}

	&__attack {
		left: 8px;
	}

	&__hp {
		right: 8px;
	}
}
