<div class="admin-tabs">
	<ul class="admin-tabs__list">
		<li class="admin-tabs__list-item active" data-title="card">create card</li>
		<li class="admin-tabs__list-item" data-title="customers">customers</li>
		<li class="admin-tabs__list-item" data-title="heroes">heroes</li>
	</ul>
	<div class="admin-tabs__content">
		<div class="admin-tabs__content-item active" data-content="card">
			<div class="reviewCard">
				<h2 class="reviewCard__name" data-value="name">name</h2>
				<figure class="reviewCard__figure">
					<img src="./images/ns-b.png" alt="ns" width="100%" />
				</figure>
				<p class="reviewCard__role" data-value="role">role</p>
				<p class="reviewCard__description" data-value="description">description</p>
				<div class="reviewCard__hp">
					<figure class="reviewCard__hp-img">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							viewBox="0 0 476 476"
							xml:space="preserve"
						>
							<g>
								<path
									d="M442.138,11.508c-1.107-4.625-4.342-8.45-8.718-10.312s-9.375-1.537-13.476,0.875c-53.767,31.626-120.569,31.628-174.34,0
		c-4.692-2.762-10.516-2.762-15.21,0c-53.768,31.627-120.571,31.627-174.339,0c-4.099-2.412-9.099-2.734-13.475-0.875
		c-4.376,1.861-7.611,5.687-8.718,10.312C-4.815,173.094,55.859,342.213,188.436,442.359l40.522,30.61
		c2.675,2.021,5.857,3.031,9.041,3.031c3.183,0,6.367-1.011,9.042-3.031l40.522-30.61
		C420.141,342.213,480.815,173.094,442.138,11.508z M269.482,418.421L238,442.201l-31.481-23.78
		C88.624,329.366,31.987,181.539,59.004,37.407C115.969,63.545,182.278,61.805,238,32.185c55.724,29.62,122.03,31.361,178.996,5.222
		C444.013,181.539,387.376,329.366,269.482,418.421z"
								/>
								<path
									d="M397.194,71.145c-2.409-1.708-5.451-2.265-8.304-1.519c-18.303,4.766-37.182,7.183-56.114,7.183
		c-30.958,0-62.325-6.672-90.712-19.296c-2.588-1.15-5.54-1.15-8.127,0c-28.386,12.624-59.753,19.296-90.711,19.296
		c-18.933,0-37.813-2.417-56.115-7.183c-2.857-0.745-5.896-0.188-8.303,1.519s-3.938,4.391-4.183,7.332
		c-4.871,58.737,4.658,118.513,27.557,172.864c25.044,59.444,65.5,111.425,116.995,150.323l12.797,9.666
		c1.783,1.347,3.905,2.021,6.027,2.021s4.244-0.674,6.027-2.021l12.796-9.666c51.496-38.899,91.952-90.881,116.996-150.323
		c22.898-54.352,32.428-114.127,27.557-172.864C401.132,75.535,399.602,72.852,397.194,71.145z M355.388,243.575
		c-23.678,56.202-61.93,105.351-110.619,142.13L238,390.819l-6.77-5.113c-48.688-36.778-86.94-85.926-110.619-142.13
		c-20.146-47.818-29.348-100.077-26.819-151.852c16.242,3.377,32.819,5.085,49.433,5.085c32.266,0,64.934-6.648,94.775-19.259
		c29.842,12.61,62.51,19.259,94.775,19.259c16.613,0,33.19-1.708,49.433-5.085C384.737,143.498,375.535,195.757,355.388,243.575z"
								/>
							</g>
						</svg>
					</figure>
					<h3 data-value="hpValue">0</h3>
				</div>
				<div class="reviewCard__attack">
					<figure class="reviewCard__attack-img">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 503.82 503.82" xml:space="preserve">
							<g transform="translate(1 1)">
								<g>
									<path
										d="M494.32,6.768c0-3.357-2.518-6.715-6.715-7.554c-3.357-0.839-7.554,0.839-9.233,4.197
			c0,0.839-45.325,76.38-101.561,91.489c-2.518,0.839-5.036,2.518-5.875,5.036c0,0-29.377,75.541-111.633,157.797l-7.974,7.974
			l-9.652-9.652C161.1,175.476,130.884,99.935,130.884,99.096c-0.839-2.518-3.357-4.197-5.875-5.036
			C68.773,79.791,23.448,4.25,23.448,3.411c-1.679-3.357-5.875-5.036-9.233-4.197C10.018,0.053,7.5,3.411,7.5,6.768
			c0,3.357-4.197,79.738,26.02,146.885c3.357,8.393,15.948,12.59,37.77,13.43c-7.554,25.18-5.875,27.698-3.357,30.216
			c4.197,5.875,84.774,91.489,130.098,115.83c1.343,0.671,2.622,1.343,3.862,2.014l-32.479,32.479
			c-1.126-3.078-1.959-6.195-2.438-9.313c-2.518-11.751-12.59-20.144-24.341-20.144c-7.554,0-15.108,3.357-20.144,9.233
			c-5.036,5.875-7.554,12.59-5.875,20.144c2.6,13.523,7.462,26.075,14.575,37.465l-49.908,49.908
			c-7.864,0.519-15.595,3.844-21.742,9.991c-13.43,13.43-13.43,34.413,0,47.843c6.715,6.715,15.108,10.072,23.502,10.072
			c9.233,0,17.626-3.357,24.341-10.072c6.603-6.603,9.952-15.032,10.062-23.491l49.332-49.332
			c11.068,6.657,23.359,11.482,36.292,14.069c1.679,0.839,3.357,0.839,5.036,0.839c5.875,0,11.751-1.679,15.948-6.715
			c5.036-5.036,8.393-12.59,8.393-20.144c0-11.751-8.393-21.823-20.144-23.502c-1.644-0.253-3.267-0.592-4.87-0.997
			c15.553-13.895,30.771-25.863,44.145-35.778c15.44,11.833,30.331,23.711,43.995,35.971c-2.254,0.721-4.551,1.284-6.89,1.644
			c-10.911,1.679-20.144,11.751-20.144,23.502c-0.839,7.554,2.518,15.108,8.393,20.144c5.036,3.357,10.911,5.875,16.787,5.875
			c1.679,0,3.357,0,5.036,0c12.683-2.536,24.744-7.233,35.644-13.877l50.956,50.956c0.707,7.55,4.014,14.925,9.925,20.836
			c6.715,6.715,15.108,10.072,23.502,10.072s16.787-3.357,24.341-10.072c13.43-13.43,13.43-34.413,0-47.843
			c-6.821-6.821-15.592-10.17-24.331-10.062l-48.998-48.998c7.112-11.389,11.974-23.942,14.575-37.465
			c0.839-6.715-0.839-14.269-5.875-20.144c-5.036-5.875-12.59-9.233-20.144-9.233c-11.751,0-22.662,8.393-24.341,20.144
			c-0.429,3.006-1.137,5.956-2.088,8.824l-31.852-31.852c1.282-0.72,2.53-1.437,3.723-2.152
			c45.325-25.18,125.062-109.954,130.098-115.829c2.518-3.357,5.036-5.875-3.357-31.056c21.823-0.839,34.413-5.875,37.77-13.43
			C498.517,85.666,494.32,10.125,494.32,6.768z M206.425,298.86c-38.61-21.823-110.793-95.685-123.384-109.954
			c0.839-5.036,4.197-17.626,7.554-27.698c0.839-2.518,0.839-5.036-0.839-7.554c-1.679-1.679-4.197-3.357-6.715-3.357
			c-15.108,0-31.056-1.679-35.252-4.197C31.002,106.65,25.966,63.004,24.287,35.306c18.466,24.341,52.039,62.112,92.328,74.702
			c7.554,17.626,39.449,85.613,113.312,159.475l8.813,8.813l-24.573,24.573C211.134,301.984,208.775,300.427,206.425,298.86z
			 M94.792,480.997c-6.715,6.715-16.787,6.715-23.502,0c-6.715-6.715-6.715-16.787,0-23.502c3.764-3.764,8.846-5.415,13.621-4.96
			c2.696,0.361,6.934,2.013,9.881,4.96c0,0,0,0,0,0C101.507,464.211,101.507,474.283,94.792,480.997z M153.546,411.332
			l-40.676,40.676c-1.475-2.524-3.3-4.914-5.488-7.102c-1.884-1.884-3.921-3.494-6.061-4.85l40.475-40.475l5.035,5.035
			c0,0,0.001,0.001,0.001,0.001l0.839,0.839c0,0,0,0,0,0L153.546,411.332z M215.658,409.653c0.839,3.357-1.679,5.875-2.518,6.715
			c-2.518,1.679-5.036,2.518-7.554,1.679c-17.626-3.357-33.574-11.751-46.164-24.341c-13.43-13.43-21.823-31.056-26.02-47.843
			c-0.839-3.357,0.839-5.875,1.679-6.715c1.679-2.518,4.197-3.357,6.715-3.357c3.357,0,6.715,3.357,7.554,6.715
			c2.518,14.269,10.072,28.538,20.984,39.449c10.911,10.911,24.341,17.626,38.61,20.144
			C213.14,402.099,215.658,405.456,215.658,409.653z M430.53,480.997c-5.875,6.715-16.787,6.715-23.502,0
			c-6.715-6.715-6.715-16.787,0-23.502c1.182-1.182,2.473-2.145,3.827-2.911c2.147-1.011,4.332-1.286,6.245-1.286
			c1.254,0,2.508-0.235,3.631-0.703c3.527,0.441,6.963,2.064,9.799,4.9C437.245,464.211,437.245,474.283,430.53,480.997z
			 M360.025,399.581l40.8,40.8c-1.953,1.286-3.814,2.791-5.547,4.525c-0.153,0.153-0.295,0.312-0.445,0.467
			c-0.133,0.124-0.27,0.248-0.394,0.372c-0.827,0.827-1.654,1.859-2.481,2.993c-0.417,0.556-0.813,1.121-1.191,1.695
			c-0.454,0.665-0.909,1.345-1.363,2.027l-41.128-41.128l5.874-5.874c0.001-0.001,0.001-0.001,0.002-0.002s0.001-0.001,0.002-0.002
			L360.025,399.581z M359.186,335.791c2.518,0,5.036,0.839,5.875,3.357c0.839,1.679,2.518,3.357,1.679,6.715
			c-3.357,17.626-12.59,35.252-25.18,47.843l0.42,0.42l-0.364,0.364l-0.895-0.783c-12.59,12.59-28.538,20.984-46.164,24.341
			c-2.518,0.839-5.875,0-7.554-1.679c-0.839-0.839-2.518-3.357-2.518-6.715c0-3.357,3.357-6.715,6.715-7.554
			c14.269-2.518,27.698-9.233,38.61-20.144c10.911-10.911,18.466-25.18,20.984-39.449
			C351.632,338.309,354.989,335.791,359.186,335.791z M323.094,362.65c-1.679,2.518-3.357,5.036-5.036,6.715
			c-1.679,2.518-4.197,4.197-6.715,5.875c-14.035-13.209-28.89-25.606-45.347-37.989c3.284-2.329,6.384-4.498,9.255-6.496
			c3.096-2.252,6.382-4.312,9.698-6.25L323.094,362.65z M453.192,146.099c-3.357,2.518-20.144,4.197-34.413,4.197
			c-2.518,0-5.036,0.839-6.715,3.357c-1.679,2.518-1.679,5.036-0.839,7.554c4.197,10.072,7.554,22.662,8.393,27.698
			c-12.59,14.269-84.774,88.971-123.384,109.954c-3.246,1.771-6.705,3.651-10.257,5.629c-1.633-0.086-3.328,0.325-4.851,1.086
			c-5.875,3.357-10.911,6.715-15.948,10.072c-5.036,4.197-11.751,9.233-19.305,14.269c-0.676,0.676-1.347,1.493-1.914,2.387
			c-15.925,11.798-34.391,26.39-53.248,43.565c-2.71-1.872-5.302-4.021-7.749-6.463c-0.017-0.017-0.036-0.036-0.053-0.053
			c-1.751-1.927-3.384-3.93-4.9-5.987l93.043-93.882c74.702-74.702,105.757-142.689,113.311-159.475
			c40.289-12.59,73.862-49.521,92.328-74.702C475.854,62.165,470.818,106.65,453.192,146.099z"
									/>
								</g>
							</g>
						</svg>
					</figure>
					<h3 data-value="attackValue">11</h3>
				</div>
				<figure class="reviewCard__effect">
					<img src="./images/card/rune.png" alt="rune" width="100%" />
					<p hidden data-value="effect"></p>
				</figure>
				<div class="reviewCard__cost">
					<figure class="reviewCard__cost-img">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 401.601 401.6" xml:space="preserve">
							<g>
								<g>
									<path
										d="M116.682,229.329c11.286,0,22.195-0.729,32.518-2.086V114.094c-10.322-1.356-21.232-2.085-32.518-2.085
			c-64.441,0-116.681,23.693-116.681,52.921v11.477C0.001,205.634,52.241,229.329,116.682,229.329z"
									/>
									<path
										d="M116.682,288.411c11.286,0,22.195-0.729,32.518-2.084v-33.166c-10.325,1.356-21.229,2.095-32.518,2.095
			c-56.25,0-103.199-18.054-114.227-42.082c-1.606,3.5-2.454,7.124-2.454,10.839v11.477
			C0.001,264.718,52.241,288.411,116.682,288.411z"
									/>
									<path
										d="M149.199,314.823v-2.578c-10.325,1.356-21.229,2.095-32.518,2.095c-56.25,0-103.199-18.054-114.227-42.082
			C0.848,275.757,0,279.381,0,283.096v11.477c0,29.229,52.24,52.922,116.681,52.922c12.887,0,25.282-0.95,36.873-2.7
			c-2.873-5.877-4.355-12.075-4.355-18.496V314.823z"
									/>
									<path
										d="M284.92,22.379c-64.441,0-116.681,23.693-116.681,52.921v11.477c0,29.228,52.24,52.921,116.681,52.921
			c64.44,0,116.681-23.693,116.681-52.921V75.3C401.601,46.072,349.36,22.379,284.92,22.379z"
									/>
									<path
										d="M284.92,165.626c-56.25,0-103.199-18.053-114.227-42.082c-1.606,3.499-2.454,7.123-2.454,10.839v11.477
			c0,29.228,52.24,52.921,116.681,52.921c64.44,0,116.681-23.693,116.681-52.921v-11.477c0-3.716-0.848-7.34-2.454-10.839
			C388.119,147.573,341.17,165.626,284.92,165.626z"
									/>
									<path
										d="M284.92,224.71c-56.25,0-103.199-18.054-114.227-42.082c-1.606,3.499-2.454,7.123-2.454,10.839v11.477
			c0,29.229,52.24,52.922,116.681,52.922c64.44,0,116.681-23.693,116.681-52.922v-11.477c0-3.716-0.848-7.34-2.454-10.839
			C388.119,206.657,341.17,224.71,284.92,224.71z"
									/>
									<path
										d="M284.92,286.983c-56.25,0-103.199-18.054-114.227-42.082c-1.606,3.5-2.454,7.123-2.454,10.838v11.478
			c0,29.228,52.24,52.921,116.681,52.921c64.44,0,116.681-23.693,116.681-52.921v-11.478c0-3.715-0.848-7.34-2.454-10.838
			C388.119,268.928,341.17,286.983,284.92,286.983z"
									/>
									<path
										d="M284.92,346.066c-56.25,0-103.199-18.053-114.227-42.081c-1.606,3.5-2.454,7.125-2.454,10.838V326.3
			c0,29.228,52.24,52.921,116.681,52.921c64.44,0,116.681-23.693,116.681-52.921v-11.478c0-3.715-0.848-7.34-2.454-10.838
			C388.119,328.012,341.17,346.066,284.92,346.066z"
									/>
								</g>
							</g>
						</svg>
					</figure>
					<h3 class="reviewCard__cost-value" data-value="price">0</h3>
				</div>
			</div>
			<div id="createCard"></div>
		</div>
		<div class="admin-tabs__content-item" data-content="customers"><h1>customers</h1></div>
		<div class="admin-tabs__content-item" data-content="heroes"><h1>heroes</h1></div>
	</div>
</div>
