.heroes {
	@include grid(6, 10px);

	&__item {
		transition: 0.5s ease-in-out;
		border-radius: 10px;
		cursor: pointer;
		position: relative;

		&:hover {
			box-shadow: 0px 0px 0px 2px #fff;
		}
		&:hover .heroes__hover {
			transform: scale(1);
		}
	}

	&__hover {
		width: 360px;
		padding: 1.5em;
		padding-top: 200px;
		position: absolute;
		left: 80px;
		top: -65px;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(40px);
		border-radius: 10px;
		// opacity: 0;
		transform: scale(0);
		transition: transform 0.3s ease-in-out;
		pointer-events: none;
		text-align: center;
		z-index: 1;
		&-img {
			width: 100%;
			object-fit: cover;
			margin-bottom: 10px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: -180px;
		}

		&-title {
			font-weight: 600;
			font-size: 50px;
			line-height: 65px;
			color: #ead40c;
			margin-bottom: 20px;
		}

		&-desc {
			font-weight: 800;
			font-size: 15px;
			line-height: 20px;
			color: #fff;
			margin-bottom: 20px;
		}

		&-hp,
		&-mp {
			display: flex;
			justify-content: center;
			padding-top: 4px;
			padding-bottom: 4px;
			column-gap: 2px;
			align-items: center;
			background: linear-gradient(270deg, #07ef9c 0%, rgba(7, 239, 156, 0) 100%), #008857;
			box-shadow: 0px 0px 10px rgba(6, 225, 147, 0.8);
			border-radius: 10px;
			margin-bottom: 10px;
			& > * {
				font-weight: 800;
				font-size: 16px;
				line-height: 22px;
				color: #fff;
			}
		}

		&-mp {
			background: linear-gradient(270deg, #00e8e8 0%, rgba(0, 232, 232, 0) 100%), #007e7e;
			box-shadow: 0px 0px 10px #00e8e8;
		}
	}
}
