<li class="heroes__item">
	<img src="@@src" alt="" />

	<div class="heroes__hover">
		<img class="heroes__hover-img" src="@@srcModal" alt="am" />
		<h3 class="heroes__hover-title">@@name</h3>
		<p class="heroes__hover-desc">@@desc</p>

		<div class="heroes__hover-hp">
			<p>@@hp</p>
			<span>/</span>
			<p>@@hp</p>
		</div>
		<div class="heroes__hover-mp">
			<p>@@mp</p>
			<span>/</span>
			<p>@@mp</p>
		</div>
	</div>
</li>
