@mixin flexbox($horizontal: flex-start, $vertical: normal) {
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
}

@mixin grid($column, $columnGap: 0) {
	display: grid;
	grid-template-columns: repeat($column, 1fr);
	column-gap: $columnGap;
}

@mixin bgi($src) {
	background-image: url($src);
	// bgs
	background-size: cover;
	// bgr
	background-repeat: no-repeat;
	// bgp
	background-position: center;
}
