/******** HEADER *********/
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 1em;

	&__menu {
		display: flex;
		align-items: center;
		column-gap: 2.5em;
	}

	&__menu-link {
		font-size: 0.9rem;
		line-height: 1.8rem;
		letter-spacing: 0.5px;
		color: #313131;
	}

	&__menu-item {
		padding-bottom: 4px;
		transition: box-shadow 0.5s ease-in-out;

		&:not(:nth-child(3)):hover {
			box-shadow: 0px 6px 0px -4px #313131;
		}

		&:nth-child(3) {
			padding: 0.5em 0.9em;
			border-radius: 3px;
			background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
		}

		&:nth-child(3) > .nav__menu-link {
			color: #fff;
		}
	}
}
/******** HEADER *********/
