h1 {
    font-size: 40px;
    text-align: center;
    margin-block: 200px;
    animation: size 1s infinite alternate-reverse;
}

@keyframes size {
    from {
        font-size: 40px;
        opacity: 1;
    } 
    to {
        opacity: 0;
        font-size: 10px;
    }
}

