* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	/* height: 100vh; */
	background-image: url(./bgi.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.list {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.list-item {
	max-width: 350px;
	background-color: #fff;
	padding: 1em;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 1.4em;
}

.list-title {
	font-size: 25px;
}

.list-btn {
	border: none;
	outline: none;
	padding: 1em;
	text-transform: uppercase;
	background-color: #2e2a2a;
	color: #fff;
	cursor: pointer;
	border-radius: 7px;
	letter-spacing: 0.7px;
	font-weight: 600;
	transition: box-shadow 0.5s ease-in-out;
}

.list-btn:hover {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.list-hero {
	padding: 1em;
	height: 150px;
	overflow-y: scroll;
}

.list-hero::-webkit-scrollbar {
	width: 5px;
}

.list-hero::-webkit-scrollbar-thumb {
	background-color: #2e2a2a;
}

.list-hero::-webkit-scrollbar-track {
	width: 2px;
	background-color: rgba(0, 0, 0, 0.2);
}
