.select {
	&__item {
		position: relative;
		cursor: pointer;
		width: 200px;
		&::after {
			transition: transform 0.2s linear;
			content: '';
			position: absolute;
			top: calc(50% - 5px);
			right: 10px;
			width: 10px;
			height: 10px;
			border-top: 1.5px solid $main-color;
			border-right: 1.5px solid $main-color;
			transform: rotate(135deg);
		}
		&.active {
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&__head {
		padding: 1em;
		border-radius: 5px;
		border: 1px solid $main-color;
		color: $main-color;
		font-size: 20px;
		line-height: 5px;
		font-weight: 500;
	}
	&__list {
		color: $main-color;
		font-size: 20px;
		font-weight: 500;
		line-height: 10px;
		outline: 1px solid $main-color;
		position: absolute;
		width: 100%;
		text-align: center;
		transform: translateY(-100%);
		margin-top: 10px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 10px;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
		overflow: hidden;
		display: none;
		&.active {
			display: block;
		}
		&-item {
			padding: 0.8em 1em;
			transition: 0.5s linear;
			&:hover {
				background-color: rgba(248, 93, 3);
				color: $dark-color;
			}
			&:not(:last-child) {
				border-bottom: 1px solid;
			}
		}
	}
}
