<div class="select">
    <div class="select__head">
        <p class="select__value">@@default</p>
    </div>
    <!-- ul.select__list>li.select__list-item -->
    <ul class="select__list">
        @@for(let i = 0; i < items.length; i++) {
            <li class="select__list-item">`+items[i]+`</li>
        }
    </ul>
</div>
