* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	max-width: 1280px;
	margin: 10vh auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
	justify-content: space-between;
}

#root > div {
	max-width: 400px;
	border-radius: 10px;
	padding: 1em;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	position: relative;
}

#root button {
	border: none;
	outline: none;
	border-radius: 50%;
	border: 1px solid;
	padding: 4px 8px;
	font-size: 13px;
	background: white;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

form {
	max-width: 180px;
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

form > input[type='number'] {
	font-size: 20px;
	border: none;
	border-bottom: 2px solid;
}
form > input[type='submit'] {
	/* font-size: 20px; */
	border: none;
	/* border-bottom: 2px solid; */
	background-color: #2e2a2a;
	color: white;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: 700;
}
