html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1250px;
	padding-inline: 1em;
	margin: 0 auto;
	box-sizing: border-box;
}
/******** HEADER *********/
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 1em;
}

.nav__menu {
	display: flex;
	align-items: center;
	column-gap: 2.5em;
}

.nav__menu-link {
	font-size: 0.9rem;
	line-height: 1.8rem;
	letter-spacing: 0.5px;
	color: #313131;
}

.nav__menu-item {
	padding-bottom: 4px;
	transition: box-shadow 0.5s ease-in-out;
}

.nav__menu-item:not(:nth-child(3)):hover {
	box-shadow: 0px 6px 0px -4px #313131;
}

.nav__menu-item:nth-child(3) {
	padding: 0.5em 0.9em;
	border-radius: 3px;
	background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
}

.nav__menu-item:nth-child(3) > .nav__menu-link {
	color: #fff;
}
/******** HEADER *********/

/******** HERO *********/
.hero {
	position: relative;
	padding-top: 100px;
	padding-bottom: 260px;
	background-image: url(../images/action.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 0.5s ease-in-out;
	transition-property: background-image;
}

.hero__wrapper {
	max-width: 555px;
}

.hero__title {
	margin-bottom: 0.3em;
	font-size: 5.3rem;
	line-height: 5.6rem;
	letter-spacing: 3px;
	color: #ffffff;
}

.hero__subtitle {
	margin-bottom: 2.2em;
	font-weight: 500;
	font-size: 1.1rem;
	line-height: 1.6rem;
	letter-spacing: 0.5px;
	color: #fafafa;
	opacity: 0.7;
}

.hero__tabs {
	position: absolute;
	right: 80px;
	bottom: 100px;
	color: #fff;
	text-align: right;
}

.hero__tabs-item {
	letter-spacing: 0.5px;
	color: #b8b8b8;
	margin-bottom: 0.8em;
	position: relative;
	cursor: pointer;
	transition: 0.5s;
}

.hero__tabs-item.active {
	color: #fff;
}

.hero__circle {
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: -15px;
	top: 4px;
	transition: 0.2s ease-in-out;
	transition-property: top;
}

/******** HERO *********/

.main__input {
}

.main__label {
	position: relative;
}

.main__label-name {
	position: absolute;
}
