* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

.emails {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.email-item {
	cursor: pointer;
	padding: 20px 25px;
	border-radius: 15px;
	box-shadow: 0 0 5px 0 #333;
	margin-bottom: 30px;
	position: relative;
}

.email-delete {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
}

.email-subject {
	font-size: 24px;
}

.email-subtext-wrapper {
	display: flex;
	flex-direction: column;
	margin: 10px 0 15px;
}

.email-subtext {
	align-self: flex-start;
	font-size: 18px;
	color: #333333;
	margin: 5px 0 0;
}

.email-from::before {
	content: 'from:';
	text-decoration: underline;
	font-size: 18px;
	color: #333;
	margin-right: 10px;
}

.email-to::before {
	content: 'to:';
	text-decoration: underline;
	font-size: 18px;
	color: #333;
	margin-right: 10px;
}

.email-text {
	cursor: text;
	color: #333;
}

.modal-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	width: 45%;
	padding: 20px 40px 40px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background-color: #fff;
}

.modal-close {
	cursor: pointer;
	align-self: flex-end;
	font-size: 20px;
	color: darkred;
	background-color: transparent;
	border: none;
	outline: none;
}

.modal-text {
	font-size: 18px;
	color: #333333;
}

.gallery {
	max-width: 1280px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery-item {
	width: calc((100% / 4) - 10px);
	height: 150px;
	padding: 90px 0;
	background-color: teal;
	margin-bottom: 30px;
}

.loader {
	width: 400px;
	pointer-events: none;
	left: 50%;
	overflow: hidden;
	position: fixed;
	/* right: 0; */
	top: 50%;
	z-index: 99999;
	transform: translate(-50%, -50%);
	/* background: #000; */
	/* background: radial-gradient(#222, #000); */
	/* bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999; */
}

.loader-inner {
	bottom: 0;
	height: 60px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}

.loader-line-wrap {
	animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
	box-sizing: border-box;
	height: 50px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform-origin: 50% 100%;
	width: 100px;
}
.loader-line {
	border: 4px solid transparent;
	border-radius: 100%;
	box-sizing: border-box;
	height: 100px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}
.loader-line-wrap:nth-child(1) {
	animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
	animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
	animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
	animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
	animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
	border-color: hsl(0, 80%, 60%);
	height: 90px;
	width: 90px;
	top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
	border-color: hsl(60, 80%, 60%);
	height: 76px;
	width: 76px;
	top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
	border-color: hsl(120, 80%, 60%);
	height: 62px;
	width: 62px;
	top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
	border-color: hsl(180, 80%, 60%);
	height: 48px;
	width: 48px;
	top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
	border-color: hsl(240, 80%, 60%);
	height: 34px;
	width: 34px;
	top: 35px;
}

@keyframes spin {
	0%,
	15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.email-from,
.email-to {
	display: block;
}
