@import './assets/variable';
@import './assets/mixins';
@import './assets/reset';
// components
@import '../components/Header/header';
@import '../components/Carousel/carousel';
@import '../components/Select/select';
@import '../components/Heroes/heroes';
@import '../components/Modal/modal';
@import '../components/Popup/popup';
@import '../components/CmsTabs/cmstabs';
// components

// sections
@import './sections/developers';
@import './sections/cards';
@import './sections/forms';

// sections

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1250px;
	padding-inline: 1em;
	margin: 0 auto;
	box-sizing: border-box;
}
