<header class="nav container">
	<a class="nav__logo" href="./index.html"><img src="./images/logo.svg" alt="logo" /></a>
	<!-- ul.nav__menu>li.nav__menu-item*4>a.nav__menu-link -->
	<ul class="nav__menu">
		<li class="nav__menu-item"><a href="./index.html" class="nav__menu-link">Home</a></li>
		<li class="nav__menu-item"><a target="_blank" href="./connect.html" class="nav__menu-link">Connect</a></li>
		<li class="nav__menu-item"><a target="_blank" href="./signup.html" class="nav__menu-link">Sign Up</a></li>
		<li class="nav__menu-item"><a target="_blank" href="./login.html" class="nav__menu-link">Login</a></li>
	</ul>
</header>
