<div class="hotnews__wrapper @@row">
	<img class="hotnews__wrapper-img" src="@@srcImg" alt="img" />
	<div class="hotnews__wrapper-info">
		<h4 class="hotnews__wrapper-name">@@name</h4>
		<h2 class="hotnews__wrapper-title">@@title</h2>
		<p class="hotnews__wrapper-text">@@text</p>
	</div>
</div>
