<label class="main__label">
	<span class="main__label-name">@@label</span>
	<input type="text" class="main__input" placeholder="@@placeholder" />
	@@if(isVisibleArrow) {
	<svg class="main__input-arrow" width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M1 5.15462H10.1089" stroke="#313131" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
		<path d="M6.92077 1.03101L11 5L6.92077 8.96899" stroke="#313131" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
	</svg>
	}
</label>
