.header {
	@include flexbox(space-between, center);
	padding: 15px 35px;

	&__nav {
		@include flexbox;
		column-gap: 32px;

		&-link {
			position: relative;
			font-size: 1.3rem;
			color: $main-color;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -5px;
				height: 2px;
				width: 100%;
				background-color: $main-color;
				transform: scaleX(0);
				transition: 0.5s ease-in-out;
				transition-property: transform;
			}

			&:hover::after {
				transform: scaleX(1);
			}
		}
	}

	&__sign {
		@include flexbox;
		column-gap: 25px;

		&-in,
		&-up {
			padding: 12px 20px;
			font-size: 18px;
			color: $dark-color;
			background-color: $main-color;
			border-radius: 5px;
			transition: 0.5s ease-in-out;
			transition-property: background-color, color;

			&:hover {
				background-color: $dark-color;
				color: $main-color;
			}
		}

		&-up {
			background-color: $dark-color;
			color: $main-color;

			&:hover {
				color: $dark-color;
				background-color: $main-color;
			}
		}
	}
}
