<header class="header">
	<a class="header__logo-link" href="/">
		<svg class="header__logo-icon" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M7.68449 23.1579L15.7898 31.9295L8.26344 33.6842L4.21081 30.1758L7.68449 23.1579ZM29.0761 6.31579L32.6319 8.27053L31.4466 14.7368L23.1497 9.32316L29.0761 6.31579ZM6.97396 6.31579C7.3687 6.31579 7.68554 6.33263 8.15817 6.71053C8.81607 7.23684 11.2424 8.95474 11.2424 8.95474L11.6824 9.73684C12.4834 9.77684 12.5034 9.84947 13.515 10.5926L35.7897 25.7021C35.6182 26.0737 32.9697 33.6842 32.9697 33.6842H28.8813L4.21081 7.63158C4.21081 7.63158 4.61291 7.48105 5.00028 7.23684C5.60765 6.85474 6.37186 6.31579 6.97396 6.31579ZM10.0003 1.05263H1.05291C0.497122 1.33053 0.0002799 1.65263 0.0002799 2.76316V10V12.2368L1.04028 15.1295L0.0002799 16.5789V17.7632L1.05291 18.5526V20L0.0002799 21.0526V25L1.05291 25.6579V30C-0.0460359 30.7821 0.0002799 31.7105 0.0002799 32.7779V37.7632C2.46238 38.3779 2.05396 38.9474 4.8687 38.9474C7.35607 38.9474 8.94765 38.9474 8.94765 38.9474C9.3287 38.9232 9.62554 38.8432 10.0003 38.8074C11.0466 38.7063 11.7108 37.8947 11.7108 37.8947L14.474 38.9474L15.5266 37.8947C15.5266 37.8947 16.9066 39.6032 17.2371 40L18.1582 38.9474L21.0529 40C21.0529 40 22.1266 38.9695 23.2897 38.9474H28.9476C29.034 38.8642 30.0003 37.8947 30.0003 37.8947C30.4434 38.16 30.0519 38.9474 34.0792 38.9474C35.1908 38.9474 36.1845 38.6842 36.1845 38.6842C36.014 38.1158 35.995 38.2316 35.6582 37.8947C35.6582 37.8947 38.2897 37.8947 40.0003 38.9474V22.6389L37.895 23.2895C37.9361 22.9558 38.9087 22.5126 38.9476 21.8421C38.9971 20.9968 38.9013 18.0674 38.7782 17.4484C38.715 17.1326 38.1119 16.2074 37.895 15.9211C38.1529 15.2253 38.9476 14.7368 38.9476 14.7368V13.9474L40.0003 13.3337V8.88947L38.9476 4.47368L40.0003 3.33368V2.07474L38.8887 1.11158L35.2782 0.514737L34.4445 1.11158L34.0276 0.416842C34.0276 0.416842 28.5708 0.00210511 27.5813 0.00210511C26.315 0.00210511 26.4992 0.0968421 26.0708 1.52316L24.254 1.70842L24.0792 1.05263H22.2371L22.5403 0.718947C22.8624 0.414737 22.7497 0.536842 23.0013 0H16.6666C16.5676 0.181053 16.2055 0.591579 15.9203 1.05263C15.9203 1.05263 15.3645 1.04737 14.9476 1.32526C14.5308 1.60316 14.5329 2.10526 13.9771 2.10526C13.4213 2.10526 12.2687 2.10526 11.6161 2.10526C10.2266 2.10526 10.0003 1.05263 10.0003 1.05263Z"
				fill="#F44336"
			/>
		</svg>
	</a>
	<ul class="header__nav">
		<li class="header__nav-item"><a class="header__nav-link" href="#">Home</a></li>
		<li class="header__nav-item"><a class="header__nav-link" href="./cards.html">Cards</a></li>
		<li class="header__nav-item"><a class="header__nav-link" href="./developers.html">Developers</a></li>
		<li class="header__nav-item"><a class="header__nav-link" href="./cms.html">Admin panel</a></li>
	</ul>
	<div class="header__sign">
		<a class="header__sign-in" href="./login.html">Login</a>
		<a class="header__sign-up" href="./registration.html">Registration</a>
	</div>
</header>
