@import './assets/variable';
@import './assets/mixins';
@import './assets/reset';
@import './sections/header';

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1250px;
	padding-inline: 1em;
	margin: 0 auto;
	box-sizing: border-box;
}

/******** HERO *********/
.hero {
	position: relative;
	padding-top: 100px;
	padding-bottom: 260px;
	transition: 0.5s ease-in-out;
	transition-property: background-image;
	height: 42.5vh;
}

.hero__wrapper {
	max-width: 555px;
}

.hero__title {
	margin-bottom: 0.3em;
	font-size: 5.3rem;
	line-height: 5.6rem;
	letter-spacing: 3px;
	color: #ffffff;
}

.hero__subtitle {
	margin-bottom: 2.2em;
	font-weight: 500;
	font-size: 1.1rem;
	line-height: 1.6rem;
	letter-spacing: 0.5px;
	color: #fafafa;
	opacity: 0.7;
}

.hero__tabs {
	position: absolute;
	right: 80px;
	bottom: 100px;
	color: #fff;
	text-align: right;
}

.hero__tabs-item {
	letter-spacing: 0.5px;
	color: #b8b8b8;
	margin-bottom: 0.8em;
	position: relative;
	cursor: pointer;
	transition: 0.5s;
}

.hero__tabs-item.active {
	color: #fff;
}

.hero__circle {
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: -15px;
	top: 4px;
	transition: 0.2s ease-in-out;
	transition-property: top;
}

/******** HERO *********/

/******** MAIN FIELD *********/

.main__input {
	width: 100%;
	padding: 14px 0;
	padding-left: 127px;
	box-sizing: border-box;
	background-color: rgba(250, 250, 250, 0.8);
	border: none;
	outline: none;
	font-size: 0.8rem;
	line-height: 1.1rem;
	letter-spacing: 0.5px;
	color: #000;
}

.main__input::placeholder {
	font-weight: 600;
	color: #313131e1;
}

.main__label {
	max-width: 406px;
	display: block;
	position: relative;
}

.main__label-name {
	min-width: 60px;
	text-align: center;
	display: inline-block;
	padding: 8px 18px;
	position: absolute;
	left: 9px;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 600;
	font-size: 0.6rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fafafa;
	background: linear-gradient(95.32deg, #313131 0%, #000000 101.64%);
}

.main__input-arrow {
	position: absolute;
	right: 21px;
	top: 50%;
	transform: translateY(-50%);
}

/******** MAIN FIELD *********/

/******** HOW NEWS *********/
.hotnews {
	margin-top: 80px;
}

.hotnews__wrapper {
	display: flex;
}

.hotnews__wrapper.reverse {
	flex-direction: row-reverse;
}

.hotnews__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.5px;
	color: #313131;
	margin-bottom: 28px;
}

.hotnews__wrapper-img {
	width: 50%;
}

.hotnews__wrapper-info {
	padding: 70px 80px;
	background-color: #f5deb37d;
}

.hotnews__wrapper-name {
	font-weight: 500;
	font-size: 17px;
	line-height: 26px;
	color: #4b4b4b;
	margin-bottom: 5px;
}

.hotnews__wrapper-title {
	font-weight: 700;
	font-size: 26px;
	line-height: 39px;
	color: #313131;
	margin-bottom: 7px;
}

.hotnews__wrapper-text {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #6e6e6e;
}

/******** HOW NEWS *********/
