.cards {
	&__bgi {
		@include bgi('../images/BackgroundCards.png');
		min-height: 100vh;
	}

	&__head {
		@include flexbox(space-between, center);
		margin: 2em 0;
	}

	&__title {
		font-size: 1.5rem;
		color: #fff;
	}

	&__pub {
		@include grid(3, 40px);
	}

	&__class {
		&:last-child {
			.heroes {
				&__hover {
					left: -400px;
				}
			}
		}

		&-head {
			@include flexbox(center, center);
			column-gap: 5px;
			margin-bottom: 1em;
		}

		&-title {
			font-weight: 600;
			font-size: 10px;
			line-height: 14px;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.4);
		}
	}
}
