.developers {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url(../images/learn-bgi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	@include flexbox(center, center);

	// &__list {
	// 	position: relative;
	// }

	&__item {
		font-size: 2rem;
		color: #fff;
		position: absolute;
		left: 50%;
		opacity: 0;
		transform: translateX(-50%);
		text-align: center;
	}
}

@keyframes moveSubtitle {
	0% {
		top: 90%;
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	95% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		top: 10%;
	}
}
