.form {
	&__field {
		border: none;
		outline: none;
		border-bottom: 2px solid #07ef9c;
		font-size: 20px;
		color: #fff;
		transition: border-bottom 0.3s ease-in-out;
		padding-bottom: 4px;
		width: 100%;
		background-color: inherit;
		&::placeholder {
			color: #fff;
			opacity: 0.5;
		}
		& {
			// background-color: red !important;
		}
		&:focus {
			border-bottom: 2px solid $main-color;
		}
	}

	&__submit {
		width: 100%;
		border: none;
		outline: none;
		background-color: $main-color;
		color: $dark-color;
		font-size: 20px;
		padding: 10px;
		border-radius: 5px;
		cursor: pointer;
		transition: box-shadow 0.3s ease-in-out;
		margin-top: 30px;
		&:hover {
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
		}
	}

	&__error {
		color: red;
		font-size: 12px;
		letter-spacing: 0.4px;
		align-self: flex-start;
	}
}

#form-login,
#form-registr,
#form-createCard {
	@include flexbox(center, center);
	flex-direction: column;
	padding: 1.5em;
	border-radius: 10px;
	max-width: 400px;
	margin: 0 auto;
	background-color: $dark-color;
	border: 2px solid $main-color;
	margin-top: 3em;
	row-gap: 1em;

	& textarea {
		resize: none;
		border: 2px solid #07ef9c;
		border-radius: 5px;
		margin-top: 20px;
		padding: 10px;
		box-sizing: border-box;
	}
}

#form-createCard {
	margin-top: 0;
	border-color: #07ef9c;

	& .form__label {
		color: #fff;
		display: flex;
		align-items: center;
		flex-direction: column;
		row-gap: 10px;

		& .form__field {
			border: 2px solid #07ef9c;
			width: 35px;
			padding: 5px;
			text-align: center;
		}
	}

	& .form__divider {
		width: 100%;
		margin-bottom: 1em;
		display: flex;
		justify-content: space-evenly;
	}
}
