.modal {
	position: fixed;
	inset: 0;
	padding: 5em 3em 3em;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	backdrop-filter: blur(5px);
	transition: 0.5s ease-in-out;
	opacity: 0;
	pointer-events: none;

	&.active {
		pointer-events: all;
		opacity: 1;
	}

	&__wrapper {
		@include flexbox(space-between);
		height: 80vh;
	}

	&__hero {
		flex-basis: 30%;
	}

	&__content {
		flex-basis: 60%;
	}

	&__tabs {
		@include flexbox(flex-start, center);
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;

		&-item {
			padding: 14px 24px;
			border: 2px solid #fff;
			transition: 0.5s ease-in-out;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}

			&.active {
				color: $main-color;
				border-color: $main-color;
			}
		}
	}

	&__tabs-content {
		color: #fff;

		&__item {
			width: 100%;
			max-height: 0;
			opacity: 0;
			transition: 0.5s linear;

			&.active {
				max-height: 500px;
				opacity: 1;
			}
		}

		& [data-content='story'] {
			display: flex;
			flex-wrap: wrap;
			column-gap: 1em;
		}
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 2;
		width: 40px;
		height: 40px;
		color: #fff;
		cursor: pointer;
	}

	&__img {
		// max-width: 300px;
	}
}

.story__wrapper {
	padding: 20px 65px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: 200px;
	box-sizing: border-box;

	&-title {
		font-weight: 600;
		font-size: 40px;
		line-height: 52px;

		color: #ead40c;
	}

	&-text {
		font-weight: 800;
		font-size: 14px;
		line-height: 19px;
		color: #ffffff;
	}
}
