<div class="modal" id="@@id">
	<div class="modal__wrapper">
		<div class="modal__hero">
			<h2 class="modal__title"></h2>
			<figure class="modal__img">
				<img width="100%" src="" alt="" />
			</figure>
		</div>
		<div class="modal__content">
			<ul class="modal__tabs">
				<li class="modal__tabs-item active" data-title="skill">skill</li>
				<li class="modal__tabs-item" data-title="story">story</li>
				<li class="modal__tabs-item" data-title="equip">top equip</li>
			</ul>
			<ul class="modal__tabs-content">
				<li class="modal__tabs-content__item active" data-content="skill">content skill</li>
				<li class="modal__tabs-content__item" data-content="story"></li>
				<li class="modal__tabs-content__item" data-content="equip">content top equip need TO DO in lesson FETCH/SERVER</li>
			</ul>
		</div>
	</div>

	<svg class="ionicon modal__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
		<title>Close</title>
		<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M368 368L144 144M368 144L144 368" />
	</svg>
</div>


<input type="password">
