.popup {
	@include flexbox(space-between, center);
	column-gap: 1em;
	padding: 0.7em;
	border-radius: 3px;
	position: fixed;
	left: 50px;
	bottom: 50px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease-in-out;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	&__figure {
		width: 20px;
		height: 20px;
	}

	&__icon {
		width: 100%;

		&--success {
			color: rgb(76, 175, 80);
		}
		&--error {
			color: rgb(239, 83, 80);
		}
		&--warning {
			color: rgb(255, 152, 0);
		}
	}
}
