.carousel {
	height: 100vh;
	&__slide {
		height: 100%;
		opacity: 0;
		transition: 0.5s ease-in-out;
		transition-property: opacity;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 100px;
	}

	&__title {
		font-size: 3rem;
		color: #fff;
		margin-bottom: 0.5em;
	}

	&__subtitle,
	&__text {
		max-width: 600px;
		color: #fff;
		font-size: 1.4rem;
		line-height: 1.6rem;
		margin-bottom: 0.5em;
	}

	&__subtitle {
		font-size: 1.1rem;
		line-height: 1.3rem;
		margin-bottom: 1.5em;
	}

	&__btn {
		border: none;
		outline: none;
		border-radius: 7px;
		background-color: $main-color;
		color: $dark-color;
		padding: 1em 1.7em;
		font-size: 1.2rem;
		font-weight: 500;
		text-transform: uppercase;
		margin-top: 1.5em;
	}
}

.carousel__slide.active {
	opacity: 1;
}
