
	<div class="carousel__slide active">
		<!-- lorem5 -->
		<h2 class="carousel__title">Lorem ipsum dolor sit amet.</h2>
		<!-- lorem15 -->
		<h3 class="carousel__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet consequuntur minus culpa excepturi quia quo!</h3>
		<!-- lorem30 -->
		<p class="carousel__text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate facere debitis totam quas sequi eveniet aperiam suscipit labore modi placeat. Iste excepturi, itaque architecto distinctio eum
			rem doloremque fugiat error.
		</p>
		<button class="carousel__btn">click here</button>
	</div>
	<div class="carousel__slide">
		<!-- lorem5 -->
		<h2 class="carousel__title">Lorem ipsum dolor sit amet.</h2>
		<!-- lorem15 -->
		<h3 class="carousel__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet consequuntur minus culpa excepturi quia quo!</h3>
		<!-- lorem30 -->
		<p class="carousel__text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate facere debitis totam quas sequi eveniet aperiam suscipit labore modi placeat. Iste excepturi, itaque architecto distinctio eum
			rem doloremque fugiat error.
		</p>
		<button class="carousel__btn">click here</button>
	</div>
	<div class="carousel__slide">
		<!-- lorem5 -->
		<h2 class="carousel__title">Lorem ipsum dolor sit amet.</h2>
		<!-- lorem15 -->
		<h3 class="carousel__subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet consequuntur minus culpa excepturi quia quo!</h3>
		<!-- lorem30 -->
		<p class="carousel__text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate facere debitis totam quas sequi eveniet aperiam suscipit labore modi placeat. Iste excepturi, itaque architecto distinctio eum
			rem doloremque fugiat error.
		</p>
		<button class="carousel__btn">click here</button>
	</div>
